/* App.css*/

.App {
	text-align: center;
}

/* Styling universal selector */
* {
	/* margin-top: 50px; */
	margin: 0;
	/* margin-top: 10px; */

	padding: 0;
	box-sizing: border-box;
}

/* Style body element */
body {
	/* min-height: 50vh;
	display: flex;
	align-items: center;
	text-align: center;
	justify-content: center;
	background: hsl(0, 0%, 100%); */
	font-family: "Poppins", sans-serif;
}

/* Styling card container */
.card {
	/* min-height: 50vh; */
  display: flex;
  flex-direction: row;
	width: 100%;
}

.head {
	/* position: relative; */
	/* max-height: fit-content; */
	/* min-width: 33rem; */
	width: 100%;
	background: rgb(242, 255, 102);

	padding: 1rem;
}


/* Input box and button */
.add {
	padding: 5%;
	text-align: left;
	padding-left: 6%;
	/* margin: 10%; */
}

input {
	margin-right: 1%;
}

#title {
	width: 100%;
	font-size: larger;
}

#description {
	font-size: large;
	width: 100%;
}

button {
	border-radius: 0 5px 5px 0;
	padding: 5px;
  width: ;
	font-size: large;
  border-style: none;
	color: #dbeefa;
	background-color: rgb(109, 157, 87);
}

/* style accordion */
.notes {
	margin: 5%;
	text-align: left;
}

/* style for accordion items */
.notes-item {
	display: flex;
  border-radius: 5px;
	z-index: 100;
  margin: 5px;
	/* padding: 2%; */
	/* border-bottom: 1px solid #4e7b48; */
	font-size: small;
	/* margin: 2%; */
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

/* style for accordion items */
.accordion-item {
	border-bottom: 1px solid #ddd;
	font-size: larger;
}

.h123
{
  width: 80%;
}
.h1234
{
  width: 20%;
}